<div class="p-4 sm:p-6 rounded pt-10 pb-10 ">
  <!-- Logo -->
  <div class="flex items-center justify-center mb-5">
    <!-- Centered Logo -->
    <a *ngIf="employee" href="https://orascom.com/" target="_blank" rel="noopener noreferrer">
      <img
        class="transition-all duration-300 hover:scale-110 w-50 sm:w-50 h-auto rounded-lg"
        src="assets/orascom.png"
        alt="Orascom Logo"
      />
    </a>

    <!-- Slightly Right SVG Button -->
    <button (click)="Login()" class="ml-6 p-2 rounded transition-all duration-500 active:scale-200 hover:scale-125">
      <svg class="" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" height="24" width="24">
        <g>
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M10 11V8l5 4-5 4v-3H1v-2h9zm-7.542 4h2.124A8.003 8.003 0 0 0 20 12 8 8 0 0 0 4.582 9H2.458C3.732 4.943 7.522 2 12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10c-4.478 0-8.268-2.943-9.542-7z"/>
        </g>
      </svg>
    </button>

  </div>



  <!-- Card container -->
  <div *ngIf="employee"
       class="pt-5 bg-[rgba(255,255,255,0.75)] mx-auto w-full sm:max-w-sm md:max-w-md lg:max-w-lg text-center shadow-lg rounded-xl pb-10">

    <!-- Employee photo -->
    <img *ngIf="employee"
         class="transition-all duration-300 hover:w-65 w-50 sm:w-44 h-auto rounded-full mt-5 mx-auto"
         [src]="'assets/' + employee.id + '.jpg'"
         (error)="onImageError($event)" />

    <!-- Name -->
    <h2 class="text-7xl sm:text-4xl md:text-4xl font-semibold mt-5 pb-5">
      {{ employee.name }}
    </h2>

    <!-- Contact icons -->
    <div class="flex justify-center items-center gap-6 mb-5 flex-wrap">
      <a [href]="'tel:' + employee.phone">
        <img src="assets/tel.png" class="rounded-full w-15 h-auto mt-5 transition-all duration-300 hover:scale-125" />
      </a>
      <a [href]="'mailto:' + employee.email">
        <img src="assets/mail.png" class="rounded-full w-15 h-auto mt-5 transition-all duration-300 hover:scale-125" />
      </a>
      <a (click)="downloadVCard(employee)" class="cursor-pointer">
        <img src="assets/download.png" class="rounded-full w-15 h-auto mt-5 transition-all duration-300 hover:scale-125" />
      </a>
    </div>

    <!-- Social icons -->
    <div class="flex justify-center items-center gap-6 mb-5 flex-wrap">
      <a [href]="'https://' + employee.linkedin" target="_blank" rel="noopener noreferrer">
        <img src="assets/linkedin.png"
             class="rounded-full w-15 h-auto mt-5 transition-all duration-300 hover:scale-125" />
      </a>
      <a [href]="'https://www.instagram.com/' + employee.instgram" target="_blank" rel="noopener noreferrer">
        <img src="assets/instagram.png"
             class="rounded-full w-15 h-auto mt-5 transition-all duration-300 hover:scale-125" />
      </a>
      <a [href]="'https://www.facebook.com/' + employee.facebook" target="_blank" rel="noopener noreferrer">
        <img src="assets/facebook.png"
             class="rounded-full w-15 h-auto mt-5 transition-all duration-300 scale-125 hover:scale-150" />
      </a>
    </div>

  </div>
</div>
